.carousal {
  margin-top: 1.5em;

  .carousal-top {
    margin-bottom: 2em;

    h2 {
      color: var(--clr-light);
      font-weight: 500;
    }
  }

  .swiper {
    .swiper-pagination {
      .swiper-pagination-bullet {
        background-color: var(--clr-gray);
      }

      .swiper-pagination-bullet-active {
        background-color: var(--clr-secondary);
      }
    }
  }
}
