main {
  position: relative;
  background-color: var(--clr-primary);
  isolation: isolate;
  min-height: 100vh;

  .backdrop {
    .image {
      position: absolute;
      inset: 0;
      height: 500px;
      object-fit: cover;
      object-position: center 30%;
      opacity: 0.3;
      z-index: -1;
    }
  }

  .container {
    .details {
      display: flex;
      gap: 2em;
      justify-content: center;
      align-items: center;
      height: 500px;
      padding-block: 1em;

      .image {
        border-radius: 10px;
      }

      aside {
        display: flex;
        flex-direction: column;
        gap: 2em;
        max-width: 800px;

        & > div:not(.genres) {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
        }

        .title {
          color: var(--clr-light);
          text-shadow: 0 1px 3px #000;

          span {
            font-weight: 500;
          }
        }

        .tagline {
          color: #c5c5c5;
          text-shadow: 0 1px 3px #000;
        }

        .genres {
          display: flex;
          gap: 1em;

          .genre {
            background-color: var(--clr-secondary);
            padding: 0.2em 0.6em;
            border-radius: 5px;
            font-weight: 600;
          }
        }

        .status {
          color: var(--clr-light);
          text-shadow: 0 1px 3px #000;
        }

        .trailer {
          display: flex;
          align-items: center;
          gap: 0.65em;
          font-style: italic;
          color: var(--clr-light);
          text-shadow: 0 1px 3px #000;
          cursor: pointer;
        }

        .overview {
          h2 {
            color: var(--clr-light);
            text-shadow: 0 1px 3px #000;
          }

          p {
            color: #c5c5c5;
            text-shadow: 0 1px 3px #000;
          }
        }

        .rating {
          display: flex;
          align-items: center;
          gap: 1em;

          .bar {
            position: relative;
            height: 10px;
            width: 100px;
            background-color: var(--clr-primary);
            border-radius: 10px;
            overflow: hidden;

            .inner_bar {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              background-color: var(--clr-secondary);
            }
          }

          .vote_average {
            display: flex;
            align-items: baseline;
            gap: 0.3em;
            color: var(--clr-light);
            font-weight: 500;
          }
        }
      }
    }
    .carousals {
      padding: 2em 1em;
    }
  }
}
